{% extends  'base.html.twig' %}

{% block title %}Programs{% endblock %}

{% block body %}
    <h1>Les trois dernières séries de la table programme : </h1>
    {%  for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }} </h2>
            <p>{{program.summary}}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}

