{% extends  'base.html.twig' %}

{% block title %}Toutes les épisodes de la saison {{season.id}} {% endblock %}

{% block body %}
    <h1>Liste des épisodes : </h1>
    {%  for episode in episodes %}
        <div>
            <p>Episode {{ episode.number }} : {{ episode.title }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}

