{# templates/index.html.twig #}
{% extends  'base.html.twig' %}
{% block body %}
<h1>Bienvenue </h1>
<a href="{{ path('wild_show', { 'id': program.id}) }}">
    Testing show() method from WildController with the id of a program.
</a>
<br>
<a href="{{ path('wild_index') }}">
    Testing index() method from WildController to view all programs.
</a>
<br>
<a href="{{ path('wild_show_category',{'categoryName': "Horreur"}) }}">
    Testing showByCategory() method from WildController to view the last 3 programs of a category.
</a>
{% endblock %}