<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary color-secondary">
        <a class="navbar-brand" href="#">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Genre de série
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Actualité</a>
                        <a class="dropdown-item" href="#">Animation</a>
                        <a class="dropdown-item" href="#">Anime</a>
                        <a class="dropdown-item" href="#">Arts martiaux</a>
                        <a class="dropdown-item" href="#">Aventure</a>
                        <a class="dropdown-item" href="#">Comédie</a>
                        <a class="dropdown-item" href="#">Comédie musicale</a>
                        <a class="dropdown-item" href="#">Crime</a>
                        <a class="dropdown-item" href="#">Cuisine</a>
                        <a class="dropdown-item" href="#">Documentaire</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acteurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mayim Bialik</a>
                        <a class="dropdown-item" href="#">John Ross Bowie</a>
{#                        <div class="dropdown-divider"></div>#}
                        <a class="dropdown-item" href="#">kaley Cuoco</a>
                        <a class="dropdown-item" href="#">Johnny Galecki</a>
                        <a class="dropdown-item" href="#">Simon Helberg</a>
                        <a class="dropdown-item" href="#">Kunal Nayyar</a>
                        <a class="dropdown-item" href="#">Jim Parsons</a>
                        <a class="dropdown-item" href="#">Melissa Rauch</a>
                        <a class="dropdown-item" href="#">Kevin Sussman</a>
                        <a class="dropdown-item" href="#">Wil Wheaton</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mes favoris <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Connexion <span class="sr-only"></span></a>
                </li>
{#              <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#              </li>#}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
</header>